%header
  %h1 All We Need Is Just A Little Patients
  %nav
    %span.user-info
      - if signed_in?
        Welcome, #{current_user.first_name}!
      - else
        Don't have an account?
        = link_to 'Sign Up', new_user_path
    %ul
      %li= link_to 'Home', root_path
      - if signed_in?
        %li= link_to 'Doctors', doctors_path
        %li= link_to 'Profile', current_user
        %li= link_to 'Settings', edit_user_path(current_user)
        %li= link_to 'Sign out', signout_path, :method => :delete
      - else
        %li= link_to 'Sign in', signin_path
