!!! Transitional

%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Health CaReview

    = csrf_meta_tag
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'application',      :media => 'screen'
    = stylesheet_link_tag 'blueprint/print',  :media => 'print'
    = javascript_include_tag :defaults
   
    %LINK{'REL' => 'SHORTCUT ICON', 'HREF' => '/favicon.ico'}/
   
  %body
    .container
      %div.span-4
      %div.span-16.main
        =render 'layouts/header'
        - flash.each do |key,value|
          =content_tag :div, value, :class => "flash #{key}"
        .content
          = yield
      %div.span-4.last

      - if Rails.env.development?
        %div.span-24.last.debug
          = debug(params)
          = debug(current_user)
