!!! Transitional

%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title Health CaReview

    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
   
    %LINK{'REL' => 'SHORTCUT ICON', 'HREF' => '/favicon.ico'}/
   
  %body
    %h1 All We Need Is Just A Little Patients
   
    = yield

    - if Rails.env.development?
      = debug(params)
      = debug(current_user)
